body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar {
    background-color: hsl(201deg 78% 47%);
    position: sticky;
    top: 0px;
    height: 100vh;
    padding-left: 20px;
}

.content {
    padding: 1px 30px;
}

@media screen and (min-width: 1100px) {
    .btn-blue {
        padding: 7px 17px;
        margin: 10px;
    }
    .left {
        display: flex;
        gap: 30px;
    }
    .menu-icon {
        display: none;
    }
    .announcement-title-phone {
        display: none;
    }
    .announcement-title {
        display: block;
    }
    .content-main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 10px;
    }
    #right-block {
        margin-left: 15px;
    }
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 1100px) {
    #sidebar {
        display: none;
    }
    #container {
        width: 100vw;
    }
    .main {
        height: 100vw;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon>span {
        font-size: 30px;
    }
    #user-name {
        font-size: 12px;
    }
    .btn-blue {
        padding: 7px 17px;
        margin: 10px;
    }
    .left {
        display: flex;
    }
    .announcement-title {
        display: none;
    }
    .announcement-title-phone {
        display: block;
    }
    .content-main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 680px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .btn-blue {
        padding: 4px 6px;
        font-size: 12px;
        margin: 10px 0;
    }
}

.site-title {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-links {
    list-style: none;
    margin-left: -40px;
    ;
}

.sidebar-links>li {
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: all 1s ease;
}

.sidebar-links>li:nth-of-type(7) {
    margin-top: 20px;
}

.sidebar-links>li:hover {
    background-color: rgb(3, 84, 128);
    border-left: 7px solid white;
}

.sidebar-links>li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.sidebar-links>li>a>span {
    margin-right: 8px;
}

.site-title {
    font-size: 23px;
}

.site-title>span {
    margin-right: 10px;
    font-size: 30px;
}

#sidebar>nav {
    margin-top: 14px;
}

.site-title {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    ;
}

.sidebar-links {
    list-style: none;
    margin-left: -40px;
}

.sidebar-links>li {
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: all 1s ease;
}

.sidebar-links>li:nth-of-type(7) {
    margin-top: 20px;
}

.sidebar-links>li:hover {
    background-color: rgb(3, 84, 128);
    border-left: 7px solid white;
}

.sidebar-links>li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.sidebar-links>li>a>span {
    margin-right: 8px;
}

.site-title {
    font-size: 23px;
}

.site-title>span {
    margin-right: 10px;
    font-size: 30px;
}

#sidebar>nav {
    margin-top: 14px;
}

#container {
    background-color: hsl(214deg 32% 91%);
    padding-bottom: 30px;
}

.nav-bar {
    background-color: white;
    padding: 1px 30px;
    box-shadow: 0px 0px 20px 0px gray;
    position: sticky;
    top: 0px;
}

#search {
    height: 28px;
    width: 70%;
    border: 1px solid hsl(214deg 32% 91%);
    border-radius: 8rem;
    background-color: hsl(214deg 32% 91%);
    outline: none;
    padding-left: 15px;
    margin-left: 10px;
    /* margin-right: 140px; */
}

#search:focus {
    border: 1px solid blue;
}

.profile {
    display: flex;
    justify-content: space-around;
    gap: 20px
}

.img {
    border-radius: 50%;
    cursor: pointer;
}

.img-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.img-medium {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#user-name {
    padding-top: 8px;
    cursor: pointer;
}

.btn-blue {
    background-color: hsl(201deg 78% 47%);
    border-radius: 8rem;
    color: white;
    text-decoration: none;
    transition: all 1s ease;
}

.btn-blue:hover {
    background-color: rgb(8, 89, 133);
}

.nav1 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.nav1>div:nth-of-type(1) {
    flex-basis: 70%;
}

.nav2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.right {
    margin-top: 20px;
}

.project {
    background-color: white;
    box-shadow: 5px 5px 10px 0px rgb(185, 183, 183);
    padding: 5px 35px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-left: 10px solid hsl(41deg 86% 58%);
    min-height: 170px;
    transition: all 1s ease;
}

.project:hover {
    box-shadow: 5px 5px 30px 5px rgb(153, 151, 151);
    border-left: 10px solid rgb(161, 111, 2);
    cursor: default;
}

.icons {
    float: right;
    margin-top: 20px;
}

.icons>span {
    margin-left: 10px;
}

.titles {
    display: flex;
    gap: 67%;
    margin-top: 5px;
}

::-webkit-scrollbar {
    width: 7px;
}

 ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

::-webkit-scrollbar-thumb:active {
    background: #690000;
}

.annonces {
    background-color: white;
    padding: 5px 20px;
    height: fit-content;
    box-shadow: 5px 5px 10px 0px rgb(185, 183, 183);
    transition: all 1s ease;
    border-radius: 7px;
}

.annonces:hover {
    box-shadow: 5px 5px 30px 5px rgb(153, 151, 151);
    cursor: default;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending-items {
    display: flex;
    align-items: center;
    gap: 15px;
    vertical-align: auto;
}

.mdi {
    cursor: pointer;
}

.project-detail {
    color: gray;
    margin-top: -20px;
    font-size: 14px;
}

.annonces-detail {
    color: gray;
    margin-top: -20px;
    font-size: 12px;
}

.trending-detail {
    color: gray;
    font-size: 11px;
}

.annonce-items {
    border-bottom: 1px solid lightgray;
}

.annonce-items:last-child {
    border-bottom: none;
}

.username {
    font-size: 14px;
}

.project-content {
    display: flex;
    flex-direction: column;
}